#################################################################################################################
# The fields do the following:                                                                                  #
# - (str) 'description' provides a short description of the task                                                #
# - (str) 'script' specifies the bash script to run                                                             #
#   !!! If the script does not exist, the task will be disabled !!!                                             #
# - (str|null) 'function' specifies the function to call within the script                                      #
#   - If null, the whole script will be run (./<script>)                                                        #
#   - If not null, the script will be sourced and the function called (source <script> && <function>)           #
#   !!! If the function does not exist in the script, the task will be disabled !!!                             #
# - (str|null) 'config_file' specifies a configuration file to be used by the script/function                   #
#   - If null, no configuration file is used                                                                    #
#   - The config directory (default or specified) is prepended to the config_file path at runtime               #
# - (list) 'depends_on' specifies a list of tasks that must be completed before the task can run                #
# - (list) 'supercedes' specifies a list of tasks that are disabled if this task is enabled (as conflicting)    #
# - (dict) 'args' specifies arguments for the task                                                              #
#     - (list|null) 'allowed' specifies a list of allowed args                                                  #
#       If null, any arg is allowed (equivalent to [*])                                                         #
#       If empty ([]), then no args are allowed                                                                 #
#     - (list) 'default' specifies a list of default args                                                       #
#    After processing, the final args are then passed to the script/function as:                                #
#     -  (bash)  Normal input (accessible via "$1", "$2", ..., "$@")                                            #
#     - (python) Either the '*args' input (if a function is specified) or 'sys.argv[1:]'                        #
#                (if no function is specified)                                                                  #
#    In both cases, a helper function "get_config_args" is available to parse the args.                         #
#    See the resp. helpers/parsing.<ext> files for details.                                                     #
#################################################################################################################

# TODO: In the future, dependencies could be split into "required" and "optional" dependencies. "Optional" dependencies
#       would allow the dependency to run first (if it is enabled), but would not disable the task if the dependency
#       is not enabled. This would be useful for tasks like "install-mamba" (mamba, not micromamba) which requires conda
#       to be installed, but could be skipped if micromamba is used instead.
# TODO: This could also be used to configure the filestructure first, then copy repos and symlinks
#       And this could be used for pinning apps after installing any packages

# Helpers
_python_scripts: &python_scripts package://cmstp/scripts/python/
_bash_scripts: &bash_scripts package://cmstp/scripts/bash/
_empty_args: &empty_args
  allowed: []  # Allow nothing
  default: []

#################################################################################################################
################################################# Installations #################################################
#################################################################################################################
install-apt-packages:
  description: Install a list of apt packages
  script: !join [*python_scripts, "installations/package_managers.py"]
  function: install_apt_packages
  config_file: installations/install_apt_packages.txt
  depends_on: []
  supercedes: null
  args: *empty_args
install-conda:
  description: Install Conda (Miniconda/Anaconda)
  script: !join [*bash_scripts, "installations/conda.bash"]
  function: install_conda
  config_file: null
  depends_on: []
  supercedes: null
  args:
    allowed: [miniconda, anaconda]
    default: [miniconda]
install-conda-environments:
  description: Install Conda environments
  script: !join [*python_scripts, "installations/environments.py"]
  function: install_conda_environments
  config_file: installations/install_conda_environments.jsonc
  depends_on: []
  supercedes: null
  args:
    allowed: [--update]
    default: []
install-cuda:  # TODO: Allow version specification, and then adapt driver version to that (default: "latest" as is right now)
  description: Install NVIDIA CUDA Toolkit (and compatible driver). WARNING -
    Removes driver prime-selection!
  script: !join [*bash_scripts, "installations/nvidia.bash"]
  function: install_cuda
  config_file: null
  supercedes: [install-nvidia-driver]
  depends_on: []
  args: *empty_args
install-docker:
  description: Install Docker. Optionally installs NVIDIA Container Toolkit and
    DevContainers CLI.
  script: !join [*bash_scripts, "installations/docker.bash"]
  function: null
  config_file: null
  depends_on: []
  supercedes: null
  args:
    allowed: [nvidia-container-toolkit, devcontainers-cli, distrobox]
    default: [nvidia-container-toolkit, devcontainers-cli, distrobox]
install-docker-images:
  description: Pull a list of Docker images
  script: !join [*python_scripts, "installations/package_managers.py"]
  function: install_docker_images
  config_file: installations/install_docker_images.jsonc
  depends_on: [install-docker]
  supercedes: null
  args: *empty_args
install-flatpak-packages:
  description: Install a list of flatpak packages. Optionally makes handy
    aliases for running the apps.
  script: !join [*python_scripts, "installations/package_managers.py"]
  function: install_flatpak_packages
  config_file: installations/install_flatpak_packages.txt
  depends_on: []
  supercedes: null
  args:
    allowed: [create-aliases]
    default: [create-aliases]
install-fzf:
  description: Install fzf (allows fuzzy searching in terminal)
  script: !join [*bash_scripts, "installations/simple_installations.bash"]
  function: install_fzf
  config_file: null
  depends_on: [install-docker]
  supercedes: null
  args: *empty_args
install-isaaclab:
  description: Install NVIDIA IsaacLab
  script: !join [*bash_scripts, "installations/isaac.bash"]
  function: install_isaaclab
  config_file: null
  depends_on: [install-isaacsim, install-conda]
  supercedes: null
  args:
    allowed: [recommended, latest, v2.*]
    default: [recommended]
install-isaacsim:
  description: Install NVIDIA IsaacSim
  script: !join [*bash_scripts, "installations/isaac.bash"]
  function: install_isaacsim
  config_file: null
  depends_on: []
  supercedes: null
  args:
    allowed: [latest, 4.*, 5.*]
    default: [latest]
install-js-repositories:
  description: Clone and install a list of packages using JavaScript. Optionally
    makes handy aliases for running the apps.
  script: !join [*python_scripts, "installations/js.py"]
  function: install_js_repositories
  config_file: installations/install_js_repositories.txt
  depends_on: []
  supercedes: null
  args:
    allowed: [create-aliases]
    default: [create-aliases]
install-loki-shell:
  description: Install Loki shell (allows shared fuzzy searching over different
    machines (SSH, Docker, ...))
  script: !join [*bash_scripts, "installations/simple_installations.bash"]
  function: install_loki_shell
  config_file: null
  depends_on: [install-fzf]
  supercedes: null
  args: *empty_args
install-mamba:
  description: Install (Micro)Mamba
  script: !join [*bash_scripts, "installations/conda.bash"]
  function: install_mamba
  config_file: null
  depends_on: []  # "mamba" requires conda, "micromamba" does not (is standalone)
  supercedes: null
  args:
    allowed: [micromamba, mamba]
    default: [micromamba]
install-npm-packages:
  description: Install a list of npm packages
  script: !join [*python_scripts, "installations/package_managers.py"]
  function: install_npm_packages
  config_file: installations/install_npm_packages.txt
  depends_on: []
  supercedes: null
  args: *empty_args
install-nvidia-driver:
  description: Install NVIDIA driver (standalone). WARNING - Removes CUDA
    compatibility!
  script: !join [*bash_scripts, "installations/nvidia.bash"]
  function: install_nvidia_driver
  config_file: null
  depends_on: []
  supercedes: null
  args:
    allowed: [recommended, latest, nvidia-driver-*, --include-server,
        --include-open, --prime-select]
    default: [recommended, --prime-select]
install-pip-environments:
  description: Install Python pip virtual environments
  script: !join [*python_scripts, "installations/environments.py"]
  function: install_pip_environments
  config_file: installations/install_pip_environments.jsonc
  depends_on: []
  supercedes: null
  args: *empty_args
install-pipx-packages:
  description: Install a list of pipx CLI packages
  script: !join [*python_scripts, "installations/package_managers.py"]
  function: install_pipx_packages
  config_file: installations/install_pipx_packages.txt
  depends_on: []
  supercedes: null
  args: *empty_args
install-ros:
  description: Install ROS (Robot Operating System)
  script: !join [*bash_scripts, "installations/ros.bash"]
  function: null
  config_file: null
  depends_on: []
  supercedes: null
  args:
    allowed: [latest, --include-future, ardent, bouncy, crystal, dashing,
        eloquent, foxy, galactic, humble, iron, jazzy, kilted, lyrical]
    default: [latest]
install-snap-packages:
  description: Install a list of snap packages
  script: !join [*python_scripts, "installations/package_managers.py"]
  function: install_snap_packages
  config_file: installations/install_snap_packages.txt
  depends_on: []
  supercedes: null
  args: *empty_args
install-vscode:
  description: Install Visual Studio Code
  script: !join [*bash_scripts, "installations/simple_installations.bash"]
  function: install_vscode
  config_file: null
  depends_on: []
  supercedes: null
  args: *empty_args
install-vscode-extensions:
  description: Install a list of Visual Studio Code extensions
  script: !join [*python_scripts, "installations/package_managers.py"]
  function: install_vscode_extensions
  config_file: installations/install_vscode_extensions.txt
  depends_on: [install-vscode]
  supercedes: null
  args: *empty_args

#################################################################################################################
################################################ Uninstallations ################################################
#################################################################################################################
uninstall-fzf:
  description: Uninstall fzf
  script: !join [*bash_scripts, "uninstallations/simple_uninstallations.bash"]
  function: uninstall_fzf
  config_file: null
  depends_on: [uninstall-loki-shell]
  supercedes: null
  args: *empty_args
uninstall-loki-shell:
  description: Uninstall loki-shell
  script: !join [*bash_scripts, "uninstallations/simple_uninstallations.bash"]
  function: uninstall_loki_shell
  config_file: null
  depends_on: []
  supercedes: null
  args: *empty_args

#################################################################################################################
################################################ Configurations #################################################
#################################################################################################################
configure-bashrc:
  description: Copy lines from a template bashrc file to the user's .bashrc
  script: !join [*bash_scripts, "configurations/simple_configurations.bash"]
  function: configure_bashrc
  config_file: configurations/configure_bashrc.bash
  depends_on: []
  supercedes: null
  args: *empty_args
configure-filestructure:
  description: Create a predefined filestructure in the user's home directory
  script: !join [*python_scripts, "configurations/simple_configurations.py"]
  function: configure_filestructure
  config_file: configurations/configure_filestructure.yaml
  depends_on: []
  supercedes: null
  args:
    allowed: [--root, --overwrite]  # TODO: Repace "--overwrite" with general "--force" option
    default: []
configure-pinned-apps:
  description: Determine pinned applications
  script: !join [*python_scripts, "configurations/simple_configurations.py"]
  function: configure_pinned_apps
  config_file: configurations/configure_pinned_apps.txt
  depends_on: []
  supercedes: null
  args: *empty_args
configure-vscode-keybindings:
  description: Configure Visual Studio Code keybindings
  script: !join [*python_scripts, "configurations/simple_configurations.py"]
  function: configure_vscode_keybindings
  config_file: configurations/configure_vscode_keybindings.jsonc
  depends_on: [install-vscode]
  supercedes: null
  args: *empty_args
