name: CI

on:
  pull_request:
    branches:
    - main
    types: [opened, edited, synchronize, reopened]
  workflow_dispatch: null

jobs:
  ci-pre-commit:
    uses: ./.github/workflows/reusable-pre-commit.yml
    secrets:
      PAT: ${{ secrets.COMMIT_TOKEN }}
  ci-main-script:
    needs: ci-pre-commit
    # Avoid double runs if pre-commit pushed changes
    if: ${{ needs.ci-pre-commit.outputs.HAS_PUSHED != 'true' }}
    uses: ./.github/workflows/reusable-main-script.yml
