name: Run script on workflow completion

on:
  workflow_call: null

jobs:
  discover-configs:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

      # Find all config files in .github/ci_configs to be used as 'config.yaml' in the main job
    - name: Find all config files
      id: set-matrix
      run: |
        # Find all config files in .github/ci_configs to be used as 'config.yaml' in the main job
        files=$(find .github/ci_configs -maxdepth 1 -name '*.yaml' -printf '%f\n' | jq -R -s -c 'split("\n")[:-1]')
        echo "matrix={\"config_file\": $files}" >> $GITHUB_OUTPUT

  main:
    needs: discover-configs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.discover-configs.outputs.matrix) }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Copy config file
      run: cp .github/ci_configs/${{ matrix.config_file }} config.yaml

    - name: Install pipx
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --user pipx
        python3 -m pipx ensurepath
        # You may need to update PATH to use pipx immediately
        echo "${HOME}/.local/bin" >> $GITHUB_PATH

    - name: Install cmstp via pipx
      run: pipx install cmstp

    - name: Run cmstp setup
      run: cmstp setup -f config.yaml

  check-results:
    runs-on: ubuntu-latest
    needs: main
    if: ${{ always() }}
    steps:
      # Check results of all matrix jobs; if any failed, fail this required job
    - name: Check results
      run: |
        # Check results of all matrix jobs; if any failed, fail this required job
        if [ "${{ needs.main.result }}" != "success" ]; then
          echo "❌ One or more configs failed"
          exit 1
        else
          echo "✅ All configs succeeded"
          exit 0
        fi

# TODO: Instead, run pytest. Then somehow pass the logger's failed tasks to the test results.
